@model IEnumerable<EventViewer.Models.ViewModels.EventVM>

@{
    ViewBag.Title = "Eventts";
}

<h2>Welcome</h2>

@if (User.Identity.IsAuthenticated)
{
   <div class="jumbotron">
       <ul>
           <li class="btn btn-success"><a href="/FoodAllowance/Index" style="color:white;">Check Cards</a></li>
       </ul>
   </div>
   <div id="Toshow"></div>
   <input type="button" value="Click" id="ClickMe" class="btn" />
}
else
{
    <center><h3>Please Log In</h3></center>
}

@section scripts{
<script src="~/Scripts/SignalRAPP.js"></script>
}



